@charset "utf-8";
@import "./color.scss";
$nav-bgcolor:$lightGray;
$fontColor:$darkGray;
$fontColor1:$orange;
$content-bgcolor:$lightorang;
$content-r-bgcolor:$pink;
//大屏
@media (min-width:992px){
    .site-nav{
        background-color: $nav-bgcolor;
         height: 35px;
        .z-nav{
            ul{
               margin-top: 4px;
               li{
                   height: 35px;
                   margin: 0;
                  color: $fontColor;
                  font-size: 14px;
                  text-align: center;
                  margin-right: 6px;
                  a{
                      text-decoration: none;
                      color: $fontColor;
                  }
                  a:hover{
                      color: $fontColor1;
                  }
               }
            }
            .z-nav-first{
                .nav-weixin{
                    position: relative;
                    .weixin{
                        width: 100px;
                        height: 100px;
                        position: absolute;
                        top: 40px;
                       left: 0;
                        img{
                     width: 80px;
                 }
                 div{
                     font-size: 12px;
                 }
             }
                }
                .nav-hualiwang{
                    position: relative;
                    .hualiwang{
                        width: 100px;
                        height: 100px;
                        position: absolute;
                        top: 40px;
                       left: 0;
                        img{
                     width: 80px;
                 }
                 div{
                     font-size: 12px;
                 }
             }
                }
               
                
            }
            }
         .z-nav-after{
             margin-top: 10px;
            li:nth-child(1){
                 margin-left:30px;
            }
            .nav-server{
             position: relative;
             ol{
                 position: absolute;
                 top: 35px;
                 left: 0px;
                 background-color: #fff;
                 display: none;
                 li{
                     margin:0;
                     font-size: 10px;
                     color: $fontColor;
                 }
             }      
                
                }

            }
           
        

        }
        .z-nav1{
            margin-top:10px;
           a{
               color: $fontColor;
           }
            a:hover{
              color: $fontColor1;
           }
           .z-nav-l{
               h2{
                   color: $fontColor1;
               }
           }
           .z-nav-c{
              .search{
                 width: 261px;
                  border: 1px solid $fontColor1;
                  border-right: none;
                  box-sizing: border-box;
                  margin-right: 0;
                 input{
                     margin-left: 1px;
                     border:none
                  
                 }
                     button{
                         width: 65px;
                         height: 30px;
                         background-color: $fontColor1;
                         color: #fff;
                         border-style: none; 
                         margin: 0;  
                     }
              }
              ul{
                  li{
                      font-size: 14px;
                      margin-right: 3px;
                  }
              }
      
           }
           .z-nav-r{
               ul{
                   text-align: center;
                   li{
                       margin-right: 5px;
                   }
                   
               }
           }
           
       }
       .z-nav2{
           width: 100%;
        background-color: $fontColor1;
       }
       .z-nav-3{
           height: 40px;
           background-color: $fontColor1;
           color: #fff;
           ul{
               
               li{
                   a{
                       text-decoration: none;
                       color: #fff;
                   }
               }
           }

       }
       .z-nav-3{
           text-align: center;
           
           .z-nav-3-first{
               padding: 0;
               margin: 0;
            position: relative;
               h3{
                margin-top: 10px;

                   font-size: 15px;
                   font-weight: 600;
                   position: relative;
                  
               }
            //    h3:hover ~.product-list{
            //        display: block;
            //    }
               &>h3::before{
                content: "";
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.1);

            }

            &>h3:hover::before{
                display: block;
            }
            &>h3:hover ~.product-list{
                display: block;
            }


               a{
                text-decoration: none;
                color:#fff !important;
               }
               .product-list{
                   width: 110%;
                   position: absolute;
                   top: 40px;
                   left: 0;
                   border-right: 1px solid $fontColor1;
                   border-left: 1px solid $fontColor1;
                   border-bottom: 2px solid $fontColor1; 
                 //display: none;
                 background-color:#fff;
                 //background-color:rgba($color: #000000, $alpha: 1.0);
                 
                   h4{
                       text-align: left;
                       color: $fontColor1;
                       font-size: 14px;
                       font-weight: 600;
                       margin-left: 5px;

                   }
                   ul{
                       flex-wrap: wrap;
                    li{
                        a{
                         color:$fontColor !important;
                         font-size: 12px;
                        }
                       margin-right: 10px;
                       margin-left: 5px;
                    }
                   }
                  
               }
           }
          
           .z-nav-3-after{
           
               text-align:center;
               
               li{
                   margin-top: 10px;
                   text-align: center;
                   margin-right: 20px;
                   position: relative;
            
                   h3{
                    font-size: 15px;
                    font-weight: 600;
                   }
                   &>h3::after{
                    content: "";
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,0.1);
    
                }
                &>h3:hover::after{
                    display: block;
                }
                   
               }
             
           }

       }
       .content{
        .row{
            ul{
                display: flex;
               
                li{
                   
                    a{
                        color: $fontColor ;
                    }
                    a:hover{
                        color: $fontColor1;
                    }
                }
            }
        }
        .content-left{
            margin-right: 30px;
            width: 210px;
            .left-1{
                width: 100%;
                border:1px solid $nav-bgcolor;
                margin-left: 0;
                table{
                    width: 100%;
                    h4{
                        color: $fontColor1;
                        font-size: 14px;
                        font-weight: 600;
                    }
                    color: $fontColor;
                    font-size: 12px;
                    td{
                        margin-right: 20px;
                    }
                }
            }
            .left-2{
                width: 100%;
                border:1px solid $nav-bgcolor;
                margin-left: 0;
                margin-top: 10px;
               .tuijian{
                   text-align: center;
                   width: 100%;
                   background-color: $content-bgcolor;
                   color: $fontColor;
                   font-size: 16px;
                
               }
               .card{
                   margin-top: 5px;
                   margin-left: 10px;
                   margin-right: 10px;
                   border: 0;
                   
                   .card-body{
                       a{
                          color: $fontColor; 
                          font-size: 12px;
                       }
                       a:hover{
                           color: $fontColor1;
                       }
                       .price{
                           color: $fontColor1;
                           font-size: 12px;
                           font-weight: 700;
                       }
                   }
           
               }
            }
            .left-3{
                width: 100%;
                border:1px solid $nav-bgcolor;
                margin-left: 0;
                margin-top: 10px;
            }
            .pingjia{
                text-align: center;
                width: 100%;
                background-color: $content-bgcolor;
                color: $fontColor;
                font-size: 16px;
            }
            .card{
                margin-top: 5px;
                border: 0;
                margin-left:3px ;
                margin-right: 3px;
                margin-bottom: 8px;
                
                .row{
                    img{
                        width: 60px;
                        margin: 3px;
                    border: 1px solid $fontColor;
                    }
                    .zhanghao{
                        display: inline-block;
                        color: $fontColor;
                        font-size: 12px;
                    }
                    p{
                        a{
                            color: $fontColor;
                            font-size: 12px;
                        }
                        a:hover{
                            color: $fontColor1;
                        }
                    }

                }
            }

        }
        .content-right{
            width: 100%;
          
            .right-1{
                width: 100%;
                .right-1-h{
                    height: 32px;
                    background-color:$content-r-bgcolor;
                    color: $fontColor;
                    strong{
                        font-size: 14px;
                        margin-left: 10px;
                    }
                }
                .right-1-b{
                    height: 96px;
                    width: 100%;
                    background-color: $content-r-bgcolor;
                    border: 1px solid $content-r-bgcolor;
                    
                    .img{ 
                     margin-top: 10px;
                    width: 130px;
                    // border-right:1px solid $fontColor ;
                    display: inline-block;
                  
                    img{
                    margin-top: -80px;
                     margin-left: 10px;

                       
                    }
                    
                    }
                    .wenzi{
                        width: 80%;
                     
                        p{
                            margin-left: 20px;
                            color: $fontColor;
                            font-size: 12px;
                      
                         
                            
                        }
                    .span1{
                        color: $fontColor1 !important;
                        font-size: 12px;
                       
                        margin-left: 20px;
                    }
                    .span2{
                        color: $fontColor;
                        font-size: 12px;
                       
                    }
                    }
                    
                }
            }
            .right-2{
                margin-top: 10px;
                margin-bottom: 10px;
                background-color:$nav-bgcolor ;
                ul>li:nth-child(1){
                    a{
                        color: $fontColor1 !important;
                        font-size: 14px;
                    }  
                    }
                   
                ul{
               
                    li{
                        margin-left: 20px;
                         color: $fontColor;
                         font-size: 14px;

                    }

                }
            }
            .right-3{
                .card{
                    img{
                        margin-top: 5px;
                    }
                    border: 0;
                  
                    .card-body{
                        .dec{
                            a{
                            color: $fontColor;
                            font-size: 14px; 
                            }
                            color: $fontColor;
                            font-size: 14px;
                        }
                        .price{
                            color: $fontColor;
                            font-weight: 600;
                            color: $fontColor1;
                            font-size: 14px;
                        }
                        .jg{
                            display: flex;
                            justify-content: space-between;
                            border: 1px solid $nav-bgcolor;
                            width: 100%;
                            a{
                                margin-right: 3px;
                                color: $fontColor;
                                font-size: 12px;
                                span{
                                    width: 16px;
                                    height: 16px;
                                    margin-right: 5px;
                                  
                                }
                            }

                        }
                    }
                }
            .card:hover{
                border: 1px solid $nav-bgcolor;
            }
            }
            .right-4{
                height: 100px;
                width: 100%;
                border-top:1px solid $nav-bgcolor ;
                border-bottom:1px solid $nav-bgcolor ;
                margin-top: 20px;
            .page-l{
                line-height: 100px;
                font-size: 14px;
                color: $fontColor;
                display: inline-block;
            }
            .page-r{
                height: 30px;
                margin-top: 20px;
                display: inline-block;
                ul{
                    margin-top: 31px !important;
                    .page-2{
                        background-color: $fontColor1 !important;   
                        
                    }
                   
                    
                }


                
            }
           
            }
        }
    } 
    .changshi{
        background-color: $nav-bgcolor;
        .changshi-1{
            margin-top: 10px;
            height: 46px;
            line-height: 46px;
            font-size: 14px;
            color:$fontColor ;
            // background-color: $nav-bgcolor;
            p{
                margin-left: 10px;
            }
        }
        .changshi-2{
            ul{
                width: 33%;
                border-right: 1px solid $fontColor;
                display: inline-block;
                li{
                    a{
                        color: $fontColor;
                        font-size: 12px;
                        margin-left: 10px;
                    }
                    a:hover{
                        color: $fontColor1;
                    }
                    margin-bottom: 10px;
                }
            }
        }

        
    }
    }


 
 
 

//中屏
@media (max-width:991px) and (min-width:768px) {
    .site-nav{
        background-color: $nav-bgcolor;
         height: 35px;
        .z-nav{
            ul{
               margin-top: 3px;
               li{
                margin-top: 7px;
                  color: $fontColor;
                  font-size: 10px;
                  text-align: center;
                  margin-right: 8px;
                  a{
                      text-decoration: none;
                      color: $fontColor;
                  }
                  a:hover{
                      color: $fontColor1;
                  }
               }
            }
            .z-nav-first{
                li:nth-child(1){
                    display: none;
                }
                li:nth-child(2){
                    display: none;
                }
                li:nth-child(3){
                    display: none;
                }
                .nav-weixin{
                    position: relative;
                    .weixin{
                        width: 100px;
                        height: 100px;
                        position: absolute;
                        top: 40px;
                       left: 0;
                        img{
                     width: 80px;
                 }
                 div{
                     font-size: 12px;
                 }
             }
                }
                .nav-hualiwang{
                    position: relative;
                    .hualiwang{
                        width: 100px;
                        height: 100px;
                        position: absolute;
                        top: 40px;
                       left: 0;
                        img{
                     width: 80px;
                 }
                 div{
                     font-size: 8px;
                 }
             }
                }
               
                
            }
            }
         .z-nav-after{
             margin-top: 10px;
            li:nth-child(1){
                 margin-left:30px;
            }
            .nav-server{
             position: relative;
             ol{
                 position: relative;
                 top: 0px;
                 li{
                     margin:0;
                     font-size: 10px;
                 }
             }      
                
                }

            }
           
        

        }
        .z-nav1{
            margin-top:10px;
           a{
               color: $fontColor;
           }
            a:hover{
              color: $fontColor1;
           }
           .z-nav-l{
               h2{
                   color: $fontColor1;
                   font-size: 25px;
               }
           }
           .z-nav-c{
              .search{
                width: 239px;
                  border: 1px solid $fontColor1;
                  border-right: none;
                  box-sizing: border-box;
                  margin-right: 0;
                  font-size: 14px;
                 input{
                     border:none;
                     margin-left:1px;
                  
                 }
                     button{
                         width: 70px;
                         height: 30px;
                         background-color: $fontColor1;
                         color: #fff;
                         border-style: none; 
                         margin-right: 0;        
                     }
              }
              ul{
                  li{
                      font-size: 12px;
                      margin-right: 2px;
                  }
              }
      
           }
           .z-nav-r{
               ul{
                   text-align: center;
                   li{
                       margin-right: 5px;
                       font-size: 12px;
                   }
                   
               }
           }
           
       }
       .z-nav-3{
        height: 40px;
        background-color: $fontColor1;
        color: #fff;
        ul{
            
            li{
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }

    }
    .z-nav-3{
        text-align: center;
        
        .z-nav-3-first{
         position: relative;
            h3{
             margin-top: 10px;

                font-size: 12px;
                font-weight: 600;
                position: relative;
               
            }
            &>h3:hover>.product-list{
                display: block;
            }
            &>h3::after{
             content: "";
             display: none;
             position: absolute;
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
             background: rgba(0,0,0,0.1);

         }
         &>h3:hover::after{
             display: block;
         }
            a{
             text-decoration: none;
             color:#fff !important;
            }
            .product-list{
                width: 110%;
                position: absolute;
                top: 40px;
                left: 0;
                border-right: 1px solid $fontColor1;
                border-left: 1px solid $fontColor1;
                border-bottom: 2px solid $fontColor1; 
               display: none;
                h4{
                    text-align: left;
                    color: $fontColor1;
                    font-size: 14px;
                    font-weight: 600;
                    margin-left: 5px;

                }
                ul{
                    flex-wrap: wrap;
                 li{
                     a{
                      color:$fontColor !important;
                      font-size: 12px;
                     }
                    margin-right: 10px;
                    margin-left: 5px;
                 }
                }
               
            }
        }
        .z-nav-3-after{
        
            text-align:center;
            
            li{
                margin-top: 10px;
                text-align: center;
                margin-right: 12px;
                position: relative;
         
                h3{
                 font-size: 12px;
                 font-weight: 600;
                }
                &>h3::after{
                 content: "";
                 display: none;
                 position: absolute;
                 top: 0;
                 left: 0;
                 width: 100%;
                 height: 100%;
                 background: rgba(0,0,0,0.1);
 
             }
             &>h3:hover::after{
                 display: block;
             }
                
            }
          
        }

    }
    .content{
        .row{
            ul{
                display: flex;
               
                li{
                    font-size: 12px;
                    a{
                        color: $fontColor ;
                        font-size: 12px;
                    }
                    a:hover{
                        color: $fontColor1;
                    }
                }
            }
        }
        .content-left{
            margin-right: 30px;
            width: 210px;
            .left-1{
                width: 100%;
                border:1px solid $nav-bgcolor;
                margin-left: 0;
                table{
                    
                    width: 100%;
                    h4{
                        color: $fontColor1;
                        font-size: 10px;
                        font-weight: 500;
                    }
                    color: $fontColor;
                    font-size: 2px;
                    .bl{
                        display: none;
                    }
                    
                }
            }
            .left-2{
                width: 100%;
                border:1px solid $nav-bgcolor;
                margin-left: 0;
                margin-top: 10px;
               .tuijian{
                   text-align: center;
                   width: 100%;
                   background-color: $content-bgcolor;
                   color: $fontColor;
                   font-size: 10px;
                
               }
               .card{
                   margin-top: 5px;
                   margin-left: 10px;
                   margin-right: 10px;
                   border: 0;
                   
                   .card-body{
                       a{
                          color: $fontColor; 
                          font-size: 12px;
                       }
                       a:hover{
                           color: $fontColor1;
                       }
                       .price{
                           color: $fontColor1;
                           font-size: 12px;
                           font-weight: 700;
                       }
                   }
           
               }
            }
            .left-3{
                width: 100%;
                border:1px solid $nav-bgcolor;
                margin-left: 0;
                margin-top: 10px;
            }
            .pingjia{
                text-align: center;
                width: 100%;
                background-color: $content-bgcolor;
                color: $fontColor;
                font-size: 10px;
            }
            .card{
                margin-top: 5px;
                border: 0;
                margin-left:3px ;
                margin-right: 3px;
                margin-bottom: 8px;
                
                .row{
                    img{
                        width: 30px;
                        margin: 3px;
                    border: 1px solid $fontColor;
                    }
                    .zhanghao{
                        display: inline-block;
                        color: $fontColor;
                        font-size: 4px;
                    }
                    p{
                        a{
                            color: $fontColor;
                            font-size:4px;
                        }
                        a:hover{
                            color: $fontColor1;
                        }
                    }

                }
            }

        }
        .content-right{
            width: 100%;
          
            .right-1{
                width: 100%;
                .right-1-h{
                    height: 32px;
                    background-color:$content-r-bgcolor;
                    color: $fontColor;
                    strong{
                        font-size: 14px;
                        margin-left: 10px;
                    }
                }
                .right-1-b{
                    height: 96px;
                    width: 100%;
                    background-color: $content-r-bgcolor;
                    border: 1px solid $content-r-bgcolor;
                    
                    .img{ 
                     margin-top: 10px;
                    width: 130px;
                    // border-right:1px solid $fontColor ;
                    display: inline-block;
                  
                    img{
                    margin-top: -40px;
                    width: 60%;
                     margin-left: 10px;
                       
                    }
                    
                    }
                    .wenzi{
                        width: 60%;
                     
                        p{
                            margin-left: 20px;
                            color: $fontColor;
                            font-size: 8px;
                           margin-bottom: 0;
                         
                            
                        }
                    .span1{
                        display: none;
                        color: $fontColor1 !important;
                        font-size: 8px;
                        margin-left: 20px;
                    }
                    .span2{
                        display: none;
                        color: $fontColor;
                        font-size: 8px;
                       
                    }
                    }
                    
                }
            }
            .right-2{
                margin-top: 10px;
                margin-bottom: 10px;
                background-color:$nav-bgcolor ;
                ul>li:nth-child(1){
                    a{
                        color: $fontColor1 !important;
                        font-size: 14px;
                    }  
                    }
                   
                ul{
               
                    li{
                        margin-left: 20px;
                         color: $fontColor;
                         font-size: 14px;

                    }

                }
            }
            .right-3{
                .card{
                    img{
                        margin-top: 5px;
                    }
                    border: 0;
                  
                    .card-body{
                        .dec{
                            a{
                            color: $fontColor;
                            font-size: 14px; 
                            }
                            color: $fontColor;
                            font-size: 14px;
                        }
                        .price{
                            color: $fontColor;
                            font-weight: 600;
                            color: $fontColor1;
                            font-size: 14px;
                        }
                        .jg{
                            display: flex;
                            justify-content: space-between;
                            border: 1px solid $nav-bgcolor;
                            width: 100%;
                            a{
                                margin-right: 3px;
                                color: $fontColor;
                                font-size: 12px;
                                span{
                                    width: 16px;
                                    height: 16px;
                                    margin-right: 5px;
                                  
                                }
                            }

                        }
                    }
                }
            .card:hover{
                border: 1px solid $nav-bgcolor;
            }
            }
            .right-4{
                height: 100px;
                width: 100%;
                border-top:1px solid $nav-bgcolor ;
                border-bottom:1px solid $nav-bgcolor ;
                margin-top: 20px;
            .page-l{
                line-height: 100px;
                font-size: 14px;
                color: $fontColor;
                display: inline-block;
            }
            .page-r{
                height: 30px;
                margin-top: 20px;
                display: inline-block;
                ul{
                    margin-top: 31px !important;
                    .page-2{
                        background-color: $fontColor1 !important;   
                        
                    }
                   
                    
                }


                
            }
           
            }
        }
    } 
    .changshi{
        background-color: $nav-bgcolor;
        .changshi-1{
            margin-top: 10px;
            height: 46px;
            line-height: 46px;
            font-size: 14px;
            color:$fontColor ;
            // background-color: $nav-bgcolor;
            p{
                margin-left: 10px;
            }
        }
        .changshi-2{
            ul{
                width: 40%;
                border-right: 1px solid $fontColor;
                display: inline-block;
                li{
                    a{
                        color: $fontColor;
                        font-size: 12px;
                        margin-left: 10px;
                    }
                    a:hover{
                        color: $fontColor1;
                    }
                    margin-bottom: 10px;
                }
            }
        }

        
    }

}
//小屏
@media (max-width:767px)  {
    .site-nav{
        background-color: $nav-bgcolor;
         height: 35px;
        .z-nav{
            ul{
               margin-top: 3px;
               li{
                margin-top: 7px;
                  color: $fontColor;
                  font-size: 10px;
                  text-align: center;
                  margin-right: 8px;
                  a{
                      text-decoration: none;
                      color: $fontColor;
                  }
                  a:hover{
                      color: $fontColor1;
                  }
               }
            }
            .z-nav-first{
                li:nth-child(1){
                    display: none;
                }
                li:nth-child(2){
                    display: none;
                }
                li:nth-child(3){
                    display: none;
                }
                li:nth-child(6){
                    display: none;
                }
                li:nth-child(8){
                    display: none;
                }
                li:nth-child(10){
                    display: none;
                }
                li:nth-child(12){
                    display: none;
                }
                li:nth-child(14){
                    display: none;
                }
                li:nth-child(15){
                    display: none;
                }
                li:nth-child(9){
                    display: none;
                }
                .nav-weixin{
                    position: relative;
                    .weixin{
                        width: 100px;
                        height: 100px;
                        position: absolute;
                        top: 40px;
                       left: 0;
                        img{
                     width: 80px;
                 }
                 div{
                     font-size: 12px;
                 }
             }
                }
                .nav-hualiwang{
                    position: relative;
                    .hualiwang{
                        width: 100px;
                        height: 100px;
                        position: absolute;
                        top: 40px;
                       left: 0;
                        img{
                     width: 80px;
                 }
                 div{
                     font-size: 8px;
                 }
             }
                }
               
                
            }
            }
         .z-nav-after{
             margin-top: 10px;
            li:nth-child(1){
                 margin-left:30px;
            }
            .nav-server{
             position: relative;
             ol{
                 position: relative;
                 top: 0px;
                 li{
                     margin:0;
                     font-size: 10px;
                 }
             }      
                
                }

            }
           
        

        }
        .z-nav1{
            margin-top:10px;
           a{
               color: $fontColor;
           }
            a:hover{
              color: $fontColor1;
           }
           .z-nav-l{
               h2{
                   color: $fontColor1;
                   font-size: 23px;
               }
           }
           .z-nav-c{
              .search{
                width: 239px;
                  border: 1px solid $fontColor1;
                  border-right: none;
                  box-sizing: border-box;
                  margin-right: 0;
                  font-size: 14px;
                 input{
                     border:none;
                     margin-left: 1px;
                 
                  
                 }
                     button{
                         width: 70px;
                         height: 30px;
                         background-color: $fontColor1;
                         color: #fff;
                         border-style: none; 
                         margin-right: 0;        
                     }
              }
              ul{
                  li{
                      font-size: 12px;
                      margin-right: 2px;
                  }
              }
      
           }
           .z-nav-r{
               display: none;
               ul{
                   text-align: center;
                   }
                   li{
                       margin-right: 5px;
                       font-size: 10px;
                   }
                   
               }
           }
           .z-nav-3{
        
            height: 40px;
            background-color: $fontColor1;
            color: #fff;
            ul{
                
                li{
                    a{
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
 
        }
        .z-nav-3{
            text-align: center;
            
            .z-nav-3-first{
             position: relative;
                h3{
                 margin-top: 12px;

                    font-size: 14px;
                    font-weight: 600;
                    position: relative;
                   
                }
                
            //     &>h3::after{
            //      content: "";
            //      display: none;
            //      position: absolute;
            //      top: 0;
            //      left: 0;
            //      width: 100%;
            //      height: 100%;
            //      background: rgba(0,0,0,0.1);
 
            //  }
            //  &>h3:hover::after{
            //      display: block;
            //  }
                a{
                 text-decoration: none;
                 color:#fff !important;
                }
                .product-list{
                  margin-top: 3vh;
                    width: 110%; 
                  
                    h4{
                        text-align: left;
                        color: $fontColor1;
                        font-size: 14px;
                        font-weight: 600;
                        margin-left: 5px;
 
                    }
                    ul{
                        flex-wrap: wrap;
                     li{
                         a{
                          color:$fontColor !important;
                          font-size: 12px;
                         }
                        margin-right: 8px;
                        margin-left: 5px;
                     }
                    }
                   
                }
            }
            .z-nav-3-after{
                display: none;
                text-align:center;
                li:nth-child(8){
                display: none;
                }
                li:nth-child(7){
                    display: none;
                }
                li{
                    margin-top: 10px;
                    text-align: center;
                     margin-right: 8px;
                    position: relative;
                    font-weight: 600;
             
                    h3{
                     font-size: 6px;
                   
                    }
                //     &>h3::after{
                //      content: "";
                //      display: none;
                //      position: absolute;
                //      top: 0;
                //      left: 0;
                //      width: 100%;
                //      height: 100%;
                //      background: rgba(0,0,0,0.1);
     
                //  }
                //  &>h3:hover::after{
                //      display: block;
                //  }
                    
                }
              
            }
 
        }
        .content{
            .row{
                ul{
                    display: flex;
                   
                    li{
                        font-size: 12px;
                        a{
                            color: $fontColor ;
                            font-size: 12px;
                        }
                        a:hover{
                            color: $fontColor1;
                        }
                    }
                }
            }
            .content-left{
                margin-right: 30px;
                width: 210px;
                .left-1{
                    // display: none;
                    width: 100%;
                    border:1px solid $nav-bgcolor;
                    margin-left: 0;
                    table{
                        margin-left: 20px;
                        width: 100%;
                        h4{
                            color: $fontColor1;
                            font-size: 10px;
                            font-weight: 500;
                        }
                        color: $fontColor;
                        font-size: 2px;
                        .bl{
                            display: none;
                        }
                        
                    }
                }
                .left-2{
                    width: 100%;
                    border:1px solid $nav-bgcolor;
                    margin-left: 0;
                    margin-top: 10px;
                   .tuijian{
                       text-align: center;
                       width: 100%;
                       background-color: $content-bgcolor;
                       color: $fontColor;
                       font-size: 10px;
                    
                   }
                   .card{
                       margin-top: 5px;
                       margin-left: 10px;
                       margin-right: 10px;
                       border: 0;
                       
                       .card-body{
                           a{
                              color: $fontColor; 
                              font-size: 12px;
                           }
                           a:hover{
                               color: $fontColor1;
                           }
                           .price{
                               color: $fontColor1;
                               font-size: 12px;
                               font-weight: 700;
                           }
                       }
               
                   }
                }
                .left-3{
                    width: 100%;
                    border:1px solid $nav-bgcolor;
                    margin-left: 0;
                    margin-top: 10px;
                }
                .pingjia{
                    text-align: center;
                    width: 100%;
                    background-color: $content-bgcolor;
                    color: $fontColor;
                    font-size: 10px;
                }
                .card{
                    margin-top: 5px;
                    border: 0;
                    margin-left:3px ;
                    margin-right: 3px;
                    margin-bottom: 8px;
                    
                    .row{
                        img{
                            width: 30px;
                            margin: 3px;
                        border: 1px solid $fontColor;
                        }
                        .zhanghao{
                            display: inline-block;
                            color: $fontColor;
                            font-size: 4px;
                        }
                        p{
                            a{
                                color: $fontColor;
                                font-size:4px;
                            }
                            a:hover{
                                color: $fontColor1;
                            }
                        }
    
                    }
                }
    
            }
            .content-right{
                width: 100%;
               margin-left: 20px;
                .right-1{

                    width: 100%;
                    .right-1-h{
                        height: 32px;
                        background-color:$content-r-bgcolor;
                        color: $fontColor;
                        strong{
                            font-size: 14px;
                            margin-left: 10px;
                        }
                    }
                    .right-1-b{
                        height: 96px;
                        width: 100%;
                        background-color: $content-r-bgcolor;
                        border: 1px solid $content-r-bgcolor;
                        
                        .img{ 
                         margin-top: 10px;
                        width: 130px;
                        // border-right:1px solid $fontColor ;
                        display: inline-block;
                      
                        img{
                        margin-top: -40px;
                        width: 60%;
                         margin-left: 10px;
                           
                        }
                        
                        }
                        .wenzi{
                            width: 60%;
                         
                            p{
                                margin-left: 20px;
                                color: $fontColor;
                                font-size: 8px;
                               margin-bottom: 0;
                             
                                
                            }
                        .span1{
                            display: none;
                            color: $fontColor1 !important;
                            font-size: 8px;
                            margin-left: 20px;
                        }
                        .span2{
                            display: none;
                            color: $fontColor;
                            font-size: 8px;
                           
                        }
                        }
                        
                    }
                }
                .right-2{
                    margin-top: 10px;
                    margin-bottom: 10px;
                    background-color:$nav-bgcolor ;
                    ul>li:nth-child(1){
                        a{
                            color: $fontColor1 !important;
                            font-size: 14px;
                        }  
                        }
                       
                    ul{
                   
                        li{
                            margin-left: 20px;
                             color: $fontColor;
                             font-size: 14px;
    
                        }
    
                    }
                }
                .right-3{
                    .card{
                        img{
                            margin-top: 5px;
                        }
                        border: 0;
                      
                        .card-body{
                            .dec{
                                a{
                                color: $fontColor;
                                font-size: 14px; 
                                }
                                color: $fontColor;
                                font-size: 14px;
                            }
                            .price{
                                color: $fontColor;
                                font-weight: 600;
                                color: $fontColor1;
                                font-size: 14px;
                            }
                            .jg{
                                display: flex;
                                justify-content: space-between;
                                border: 1px solid $nav-bgcolor;
                                width: 100%;
                                a{
                                    margin-right: 3px;
                                    color: $fontColor;
                                    font-size: 12px;
                                    span{
                                        width: 16px;
                                        height: 16px;
                                        margin-right: 5px;
                                      
                                    }
                                }
    
                            }
                        }
                    }
                .card:hover{
                    border: 1px solid $nav-bgcolor;
                }
                }
                .right-4{
                    height: 100px;
                    width: 100%;
                    border-top:1px solid $nav-bgcolor ;
                    border-bottom:1px solid $nav-bgcolor ;
                    margin-top: 20px;
                .page-l{
                    line-height: 100px;
                    font-size: 14px;
                    color: $fontColor;
                    display: inline-block;
                }
                .page-r{
                    height: 30px;
                    margin-top: 20px;
                    display: inline-block;
                    ul{
                        margin-top: 31px !important;
                        .page-2{
                            background-color: $fontColor1 !important;   
                            
                        }
                       
                        
                    }
    
    
                    
                }
               
                }
            }
        } 
        .changshi{
            background-color: $nav-bgcolor;
            .changshi-1{
                margin-top: 10px;
                height: 46px;
                line-height: 46px;
                font-size: 14px;
                color:$fontColor ;
                // background-color: $nav-bgcolor;
                p{
                    margin-left: 10px;
                }
            }
            .changshi-2{
                ul{
                    width: 50%;
                    border-right: 1px solid $fontColor;
                    display: inline-block;
                    li{
                        a{
                            color: $fontColor;
                            font-size: 12px;
                            margin-left: 10px;
                        }
                        a:hover{
                            color: $fontColor1;
                        }
                        margin-bottom: 10px;
                    }
                }
            }
    
            
        }
           
       }

